<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.BankConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Bank;Persist Security Info=True;User ID=sa;Password=ki18ng05;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>